@font-face {
	font-family: 'Abel-Regular';
	font-style: normal;
	src: url('../font/Abel-Regular.ttf');
}
html,body {
	height:100%;
	margin: 0px;
	padding: 0px;
	font-family: 'Abel-Regular', sans-serif;
}

.center {
	text-align: center;
}

.btn,
.btn:hover {
	background-color: #000000;
}

.input-field label,
.input-field .prefix {
	color: #808080;
}

.input-field input[type=text]:focus + label,
.input-field input[type=password]:focus + label,
.input-field input[type=password]:focus + label,
.materialize-textarea:focus + label,
.input-field .prefix.active,
.materialize-textarea:focus + label {
	color: #000000 !important;
}

.input-field input[type=text]:focus,
.input-field input[type=password]:focus {
	border-bottom: 1px solid #000000 !important;
	box-shadow: 0 1px 0 0 #000000 !important;
}

textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid #000000;
	box-shadow: 0 1px 0 0 #000000;
}

#toast-container {
	width: 100%;
	margin: auto;
	text-align: center;
}

.alert-success {
	width: 100%;
	margin: auto;
	text-align: center;
	background-color: #008000;
}
.alert-failed,
.danger-zone {
	width: 100%;
	margin: auto;
	text-align: center;
	background-color: #FF0000;
}
.side-nav {
	width: 15%;
}

#body {
	right: 15%;
	width: 100%;
}

.side-nav p {
	font-size: 1.5em;
	width: 100%;
	font-weight: bold;
}

.card-panel .btn-flat {
	height: 100%;
}

.danger-zone {
	border: solid 1px #000000;
}

#divUserAvatar,
#visibilityFormTweet {
	text-align: center;
	cursor: pointer;
	height: 10%;
}

#divUserAvatar i,
#divUserAvatar img, {
	width: 100%;
	height: 100%;
}

#formAvatar {
	display: none;
	visibility: hidden;
}

#divFormTweet {
	position: fixed;
	bottom: 0;
	width: 100%;
}

.tweet {
	width: 100%;
	text-align: center;
}

.tweetDate,
.formLoveTweet {
	float: left;
}

.formDeleteTweet {
	float: right;
	background-color: #FF0000;
}

.tweetContent {
	white-space: pre-wrap;
}

.editIcon {
	cursor: pointer;
}